<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="UTF-8">
<title>Users Page</title>
</head>
<body>
	<section>
		<div class="container-fluid p-4 mt-4">
			<div class="row">

				<div class="col-md-10 offset-md-1">
					<div class="card card-sh">
						<div class="card-header text-center fs-4">Users</div>
						<div class="card-body">
	
				
	<th:block th:if="${session.succMsg}">
	<p class="text-center text-success fs-4">[[${session.succMsg}]]</p>
	<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
	</th:block>
	
	
	<th:block th:if="${session.errorMsg}">
	<p class="text-center text-danger fs-4">[[${session.errorMsg}]]</p>
	<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
	</th:block>
							
								<table class="table">
									<thead>
										<tr>
											<th scope="col">SL NO</th>
											<th scope="col">Profile</th>
											<th scope="col">Name </th>
											<th scope="col">Email</th>
											<th scope="col">Mobile No</th>
											<th scope="col">Address </th>
											<th scope="col">Status</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="u,c:${users}">
											<th scope="row">[[${c.count}]]</th>
											<td> <img th:alt="${u.name}" th:src="@{'/img/profile_img/'+${u.profileImage}}"  width="60px" height="60px" > </td>
											<td>[[${u.name}]]</td>
											<td>[[${u.email}]]</td>
											<td>[[${u.mobileNumber}]]</td>
											<td>[[${u.address + ', ' + u.state + ', ' + u.pincode}]]</td>
											
											<td th:text="${u.isEnable} ? 'Active' : 'Inactive'"></td>
											
											<td>
											<a th:href="@{'/admin/updateStatus?status=true&id='+${u.id}}" class="btn btn-sm btn-success text-center"><i class="fa-solid fa-pen-to-square"></i> Active</a>
											<a th:href="@{'/admin/updateStatus?status=false&id='+${u.id}}" class="btn btn-sm btn-danger text-center"> <i class="fa-solid fa-trash"></i> Inactive</a>
											</td>
										</tr>

									</tbody>
								</table>

						</div>

					</div>

				</div>


			</div>
		</div>


	</section>
</body>
</html>